
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" style="text-transform:none;" href="@ViewBag.dictionary1Url" >@ViewBag.dictionary1</a>
                <a class="breadcrumb-item text-dark" style="text-transform:none;" href="@ViewBag.dictionary2Url">@ViewBag.dictionary2</a>
                <span class="breadcrumb-item active" style="text-transform:none;">@ViewBag.dictionary3</span>
            </nav>
        </div>
    </div>
</div>